h1 {
    text-align: center;
}

#cards-container {
    width: 100%;
    max-width: 700px;
    height: 100%;
    background-color: beige;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.card {
    width: 117px;
    height: 146px;
    position: relative;
    cursor: pointer;

}

.card img {
    width: 80px;
}

.face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border: 1px solid #99cea8;
    background-image: "";
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
}

.inner-card {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip {
    transform: rotateY(180deg);
}


.back-card {
    transform: rotateY(180deg);
}