@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap%27');

body {
    background-color: #EEF9BF;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    font-size: 56px;
    color: #75b79e;
    margin: 47px auto;
}

#cards-container {
    width: 100%;
    max-width: 950px;
    height: 100%;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.card {
    width: 117px;
    height: 146px;
    position: relative;
    cursor: pointer;

}

.card img {
    width: 80px;
}

.face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border: 1px solid #99cea8;
    background-image: "";
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
}

.inner-card {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.flip {
    transform: rotateY(180deg);
}


.back-card {
    transform: rotateY(180deg);
}

@media only screen and (max-width: 614px) {
    h1 {
        font-size: 36px;
    }
}